

/* This is for main container */
.calcContainer{
    width: 50vh;
    height: 70vh;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid black;
    overflow: hidden;
}


/* for aligning the text in right bottom */
#display{
    display: flex;
    width: 100%;
    height: 20%;
    border-bottom: 4px solid rgb(0, 0, 0);
    background-color: rgb(251, 152, 202);
    justify-content: flex-end;
    align-items: flex-end;
    /* text-overflow:clip; */
    word-wrap: break-word;
}



#calculation{
    font-size: 33px;
    margin-right: 5px;
}


/* this is for specifying the left and right groups of buttons */
.btnContainer{
    display: grid;
    grid-template-columns: 3fr 1fr ;
    height: 80%;
}



/* This is for left btn */
.leftBtn{
    display: grid;
    grid-template-columns: auto auto auto;
}




/* This is for right buttons */
.rightBtn{
    /* margin-top: ; */
    display: grid;
    grid-template-rows: 1.01fr repeat(4, 1fr);
}


/* Button styling */
.btn{
    font-size: 1.4em;
    font-weight: bold;
}


/* button hover styling */
.btn:hover{
    background-color: rgb(95, 53, 74);
    color: hotpink;
}


#btnEqual{

    grid-column: 1/3;

}
